<sto-app-header [breadCrumbs]="breadCrumbs"
                [environmentName]="environment?.environment"
                [testEnvironment]="!!environment && (environment?.environment | uppercase) !== 'PRODUCTION'"
                [homeBreadCrumbConfig]="home">
  <button mat-icon-button
          [matMenuTriggerFor]="menu"
          *ngIf="user">
    <mat-icon>account_circle</mat-icon>
  </button>
  <button mat-stroked-button
          color="primary"
          *ngIf="!user">
    Sign in
  </button>
</sto-app-header>
<mat-menu #menu="matMenu">
  <button mat-menu-item class="dense">{{ user?.name }}</button>
  <button mat-menu-item class="dense" (click)="logout.emit()">Sign out</button>
</mat-menu>
<div [@slideInOut]="isOpen ? 'in' : 'out'"
     class="sto-animation">
  <sto-drawer width="350px"
              (cancel)="closeMenu()"
              #drawer>
    <sto-drawer-header>
      <div class="sto-drawer__header__infix">
        <!--        <button *ngIf="activePane === 'right'; else topIcon" type="button"
                        mat-icon-button
                        (click)="toggle()">
                  <mat-icon>arrow_back</mat-icon>
                </button>
                <ng-template #topIcon>-->
        <a [href]="environment?.startPageUrl"
           target="_blank">
          <mat-icon class="sto-main-icon"
                    svgIcon="tnt"></mat-icon>
        </a>
        <!--</ng-template>-->
      </div>
      <div class="sto-drawer__header__title">
        Cargo Tracker
      </div>
      <div class="sto-drawer__header__suffix">
        <button type="button"
                mat-icon-button
                (click)="closeMenu()">
          <mat-icon>close</mat-icon>
        </button>
      </div>
    </sto-drawer-header>
    <sto-navigation-menu [menu]="navigation"
                         class="sto-slide-panel"
                         (onCommand)="handleCommand($event)"
                         rightPane></sto-navigation-menu>
  </sto-drawer>
</div>

<div (click)="closeMenu()"
     class="sto-navigation__backdrop"
     [ngClass]="{'sto-navigation__backdrop--hidden': !isOpen}"></div>
