.actions-cell {
  display: flex;
  justify-content: flex-end;
}
.sto-mdl-table__body__row .sto-mdl-table__body__row__cell.edit-cell {
  padding: 0;
}

%form-chip {

  .chip-container {
    max-width: 70%;
    overflow: auto;
    display: inline-block;
  }

  .mat-standard-chip {
    min-height: 18px;
    padding: 4px;
    margin-top: 0;
    margin-bottom: 0;

    .mat-chip-remove {
      margin-left: 4px;
    }
  }
}

.sto-mdl-table {

  .responsive {
    height: 100%;
    width: 100%;
    display: flex;
    padding: 0 16px;
    justify-content: space-between;
    &__info {
      display: flex;
      flex-direction: column;
      justify-content: space-evenly;
    }
    &__actions {
      display: flex;
      flex-direction: column;
      justify-content: space-evenly;
    }
  }

  .mat-form-field.sto-form__field {
    @extend %form-chip;
    min-height: 30px;
    .mat-form-field-wrapper {
      padding-bottom: 0;
      .mat-form-field-flex .mat-form-field-infix {
        border-top: 0;
        padding-top: 2px;
        padding-bottom: 3px;
      }
      .mat-form-field-underline {
        bottom: 0;
      }
    }
    .mat-select .mat-select-arrow {
      margin-top: 0;
    }
  }
}
