<div class="table-container">
  <ctref-grade-filter (add)="add()"
                      (uploadSheet)="upload($event)"
                      [value]="filters$ | async"
                      (filterChanged)="onFilterChange($event)"
                      [countries]="countries$ | async"></ctref-grade-filter>
  <ctref-grade-list [rows]="rows$ | async"
                    [countries]="countries$ | async"
                    [loading]="loading$ | async"
                    (save)="save($event)"
                    (cancelGrade)="cancelGrade($event)"
                    (cancel)="cancel()"
                    (verify)="verify($event)"></ctref-grade-list>
</div>
