<ctref-navigation [environment]="environment$ | async"
                  [user]="user"
                  [breadCrumbs]="breadCrumbs$ | async"
                  (logout)="logout()"
                  (navigate)="navigate($event)"></ctref-navigation>

<div class="wrapper">
  <router-outlet *ngIf="user"></router-outlet>
  <div class="card-container"  *ngIf="!user">
    <mat-card style="width: 450px">
      <mat-card-title class="sto-card__title">Not logged on</mat-card-title>
      <mat-card-subtitle></mat-card-subtitle>
      <mat-card-content>
        <p>You are not signed in to this application.</p>
      </mat-card-content>
      <mat-card-actions>
        <button mat-stroked-button
                color="primary"
                (click)="login()">
          Sign in
        </button>
        <a mat-stroked-button
           color="primary"
           href="https://accessit.equinor.com/Search/Search?term=Cargo+Tracker">
          Request access
        </a>
      </mat-card-actions>
    </mat-card>
  </div>
</div>

