<sto-datatable [autoSize]="true"
               [columns]="columns"
               [rows]="rows"
               [rowClass]="rowClass"
               [loading]="loading"
               [sortable]="true"
               [trackBy]="trackFn"
               class="sto-form"></sto-datatable>

<ng-template #nameTmpl
             let-row="row"
             let-column="column"
             let-value="value">
  <span *ngIf="row.cancelled; else edit"
        [title]="value">{{value}}</span>
  <ng-template #edit>
    <span class="company-name">{{value}}</span>
  </ng-template>
</ng-template>

<ng-template #aliasTmpl
             let-row="row"
             let-value="value">
  <mat-form-field *ngIf="!row.cancelled"
                  stoFormField>
    <mat-chip-list #chipList
                   aria-label="Fruit selection">
      <div class="chip-container">
        <mat-chip (removed)="remove(v, row)"
                  *ngFor="let v of (editing[row.id]?.aliases || row.aliases)"
                  [removable]="false"
                  [selectable]="false"
                  color="primary">
          {{v}}
        </mat-chip>
      </div>
      <input (matChipInputTokenEnd)="add($event, row)"
             disabled
             [matChipInputAddOnBlur]="false"
             [matChipInputFor]="chipList"
             #inp
             (keydown.escape)="inp.value = ''"
             [matChipInputSeparatorKeyCodes]="separatorKeysCodes">
    </mat-chip-list>
  </mat-form-field>
  <span *ngIf="row.cancelled"
        [title]="value.join(', ')">
    {{ value.join(', ') }}
  </span>
</ng-template>

<ng-template #verifiedTmpl
             let-row="row"
             let-value="value">
  <mat-checkbox (change)="verifiedChange($event, row)"
                [disabled]="true"
                [checked]="value"
                color="primary"></mat-checkbox>
</ng-template>

<ng-template #actionsTmpl
             let-row="row"
             let-value="value">
  <button *ngIf="!row.cancelled"
          (click)="cancel.emit(row);"
          disabled
          mat-icon-button>
    <mat-icon>delete</mat-icon>
  </button>
</ng-template>
