<sto-filter-panel #panel
                  (toggled)="toggled()"
                  [expandable]="true"
                  [expanded]="false">

  <sto-filter-title style="display: inline-flex">Terminals
    <mat-chip-list [style.opacity]="panel.expanded ? 0 : 1"
                   style="margin-left: 16px">
      <mat-chip (removed)="clearFilter(f.key)"
                *ngFor="let f of filter$ | async"
                [removable]="true"
                [selected]="true"
                [value]="f.key"
                color="primary"
                style="margin: 2px 4px">
        {{ f.value }}
        <mat-icon matChipRemove>cancel</mat-icon>
      </mat-chip>
    </mat-chip-list>
  </sto-filter-title>
  <div [formGroup]="form"
       class="sto-form"
       stoGrid>
    <mat-form-field stoFormField
                    stoGridColumn>
      <mat-label>Country</mat-label>
      <mat-select formControlName="countryId">
        <mat-option *ngFor="let c of countries"
                    [value]="c.id">{{c.name}}</mat-option>
      </mat-select>
    </mat-form-field>
    <div [stoGridColumnDouble]="true"
         stoGridColumn
         stoGridSpacer></div>
    <div stoGridColumn
         stoGridSpacer></div>
  </div>
</sto-filter-panel>
