<sto-filter-panel [filterList]="filter$ | async"
                  (toggled)="toggled()"
                  [expandable]="true"
                  [expanded]="true">

  <sto-filter-title style="display: inline-flex">Terminals
  </sto-filter-title>
  <div [formGroup]="form"
       class="sto-form"
       stoGrid>
    <mat-form-field stoFormField
                    stoGridColumn>
      <mat-label>Trading desk</mat-label>
      <mat-select formControlName="tradingDesk" (selectionChange)="tradingDeskChanged.emit($event.value)">
        <mat-option *ngFor="let tradingDesk of tradingDesks"
                    [value]="tradingDesk">{{tradingDesk}}</mat-option>
      </mat-select>
    </mat-form-field>
    <mat-form-field stoFormField
                    stoGridColumn>
      <mat-label>Country</mat-label>
      <mat-select formControlName="countryId"
                  placeholder="All">
        <mat-option [value]="null">All</mat-option>
        <mat-option *ngFor="let c of countries"
                    [value]="c.id">{{c.name}}</mat-option>
      </mat-select>
    </mat-form-field>
    <div [stoGridColumnDouble]="true"
         stoGridColumn
         stoGridSpacer></div>
    <div stoGridColumn
         stoGridSpacer></div>
  </div>
</sto-filter-panel>
