<sto-filter-panel #panel
                  (toggled)="toggled()"
                  [expanded]="false"
                  [expandable]="true">

  <sto-filter-title style="display: inline-flex">Grades
    <mat-chip-list [style.opacity]="panel.expanded ? 0 : 1"
                   style="margin-left: 16px">
      <mat-chip color="primary"
                *ngFor="let f of filter$ | async"
                style="margin: 2px 4px"
                [selected]="true"
                [removable]="true"
                (removed)="clearFilter(f.key)"
                [value]="f.key">
        {{ f.value }}
        <mat-icon matChipRemove>cancel</mat-icon>

      </mat-chip>
    </mat-chip-list>
  </sto-filter-title>
  <sto-filter-table-actions>
    <button mat-button
            (click)="add.emit()">Add
    </button>
    <button mat-button>Upload</button>
  </sto-filter-table-actions>
  <div stoGrid
       class="sto-form"
       [formGroup]="form">
    <mat-form-field stoGridColumn
                    stoFormField>
      <mat-label>Country</mat-label>
      <mat-select formControlName="countryId">
        <mat-option *ngFor="let c of countries"
                    [value]="c.id">{{c.name}}</mat-option>
      </mat-select>
    </mat-form-field>
    <mat-form-field stoGridColumn
                    stoFormField>
      <mat-label>Verified</mat-label>
      <mat-select formControlName="verified" placeholder="Show all">
        <mat-option [value]="null"
                    *ngIf="form.get('verified').value === false || form.get('verified').value === true">
          Show all
        </mat-option>
        <mat-option [value]="true">Only show verified</mat-option>
        <mat-option [value]="false">Only show unverified</mat-option>
      </mat-select>
    </mat-form-field>
        <div stoGridColumn>
          <sto-slide-toggle formControlName="cancelled"
                            label="Include cancelled"></sto-slide-toggle>
        </div>
    <div stoGridColumn
         stoGridSpacer></div>
  </div>
</sto-filter-panel>
